__pycache__/
cache
build
*.pt
*egg-info*
*.log
wandb
tmp
dev
*.pyc
datasets/
data/
lm_cache/
outputs/
.vscode/
slurm_record/
ptq_record/
qat_record/
fully_qat_record/
test.py
*.err
*.out
res*
eval_result/
stat_result/
analysis_result/
para_figures/
FBI-LLM_7B
FBI-LLM_1.3B
FBI-LLM_130M
upload_model.py
figure.py